<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="endpoint" value="https://demcosmosdb.documents.azure.com:443/" />
    <add key="authKey" value="vxLYPAOEymkWHWGQDNLFSXo5iWx4TPr4n0eQrFQMK0QVN25PLmqHxY0Qg0xf9eVyRHjzNkJCpExru0HNSYHHYw==" />
    <add key="database" value="demodb" />
    <add key="collection" value="conatiner1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>